body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

.gratuitous-flex-box {
	font-size: 2px;
	background-color: maroon;
	border: 2px solid red;
}

.gratuitous-formatting {
	font-size: 2px;
	background-color: black;
	color: black;
	text-align: center;
	border: 2px solid red;
}

.bigYellowButton {
	font-size: xx-large;
	color: black;
	background-color: yellow;
	border: 2px solid black;
	
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}